
<h1> Welcome {{full_name}}</h1>

<div class="row">
    <div class="col-lg-9 col-md-12">
        {{!--Employee table start--}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2> <strong> Employees </strong> </h2>
                <div class="panel-actions"> </div>
            </div>
            <div class="panel-body">
                <table class="table bootstrap-datatable countries">
                    <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Email</th>
                        <th>Results</th>
                        <th>Performance</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                <tbody>
                    {{#each employee}}
                    <tr>
                        <td><button class="btn btn-info btn-sm"> {{fname}} {{lname}} </button></td>
                        <td>{{email}}</td>
                        <td>
                            <a href="/results?employee_id={{employee_id}}" class="btn" style='background: transparent;'>
                                <img src="static/img/test.png" style="height:18px;">
                            </a>
                        </td>
                        <td>
                            <div class="progress thin">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                                </div>
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width: 27%">
                                </div>
                            </div>
                            <span class="sr-only">73%</span>
                        </td>
                        <td> <button class="btn" style='background: transparent;'><img src="static/img/delete.png" style="height:18px; "></button></td>
                    </tr>
                    {{/each}}
                </tbody>
                </table>
            </div>
        </div>
        {{!--Employee table end--}}
        <br>
        {{!--Quiz table start--}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><strong>Quizzes</strong></h2>
                <div class="panel-actions"></div>
            </div>
            <div class="panel-body">
                <table class="table bootstrap-datatable countries">
                    <thead>
                    <tr>
                        <th>Quiz</th>
                        <th>Access Code</th>
                        <th>Results</th>
                        <th>Performance</th>
                        <th>Edit Quiz</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                <tbody>
                    {{#each quiz}}
                    <tr>
                        <td>{{quiz_name}}</td>
                        <td>{{access_code}}</td>
                        <td>
                            <a href="/results?quiz_id={{quiz_id}}" class="btn" style='background: transparent;'>
                                <img src="static/img/test.png" style="height:18px; ">
                            </a>
                        </td>
                        <td>
                            <div class="progress thin">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                                </div>
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width: 27%">
                                </div>
                            </div>
                            <span class="sr-only">73%</span>
                        </td>
                        <td> <button class="btn" style='background: transparent;'><img src="static/img/edit.png" style="height:18px; "></button></td>
                        <td> <button class="btn" style='background: transparent;'><img src="static/img/delete.png" style="height:18px; "></button></td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            {{!--Quiz table end--}}
        </div>
    </div>
</div>

</section>
</section>